<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "https://www.springframework.org/dtd/spring-beans.dtd">
<beans >
    <bean id="parent_triangle" class="com.olaniyi.Triangle" >
        <property name="point1" ref="point2"/>
    </bean>

    <bean id="triangle1" class="com.olaniyi.Triangle" parent="parent_triangle">
        <property name="point2" ref="point2"/>
        <property name="point3" ref="point3"/>
    </bean>

    <bean id="centre" class="com.olaniyi.Point">
        <property name="x" value="0"/>
        <property name="y" value="0"/>
    </bean>

    <bean id="point2" class="com.olaniyi.Point">
        <property name="x" value="-20"/>
        <property name="y" value="0"/>
    </bean>

    <bean id="point3" class="com.olaniyi.Point">
        <property name="x" value="20"/>
        <property name="y" value="0"/>
    </bean>

    <bean id="circle" class="com.olaniyi.Circle" >
    </bean>

    <bean id="DisplayNameBeanPostProcessor" class="com.olaniyi.DisplayNameBeanPostProcessor"/>
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>


</beans>


















